<c-product-card class="c-product-card js-product-card" data-product-handle="{{ product.handle }}">
  <div class="c-product-card__top">
    <a href="{{ product.url }}" class="c-product-card__image">
      {% render 'image', image: product.featured_image %}
    </a>
  </div>
  <div class="c-product-card__bottom">
    <div class="c-product-card__info-top">
      <span class="c-product-card__vendor">
        {{ product.vendor }}
      </span>

      <a class="c-product-card__title" href="{{ product.url }}">
        {{ product.title }}
      </a>

      <div class="c-product-card__row">
        <div class="c-product-card__price">
          {{ product.selected_or_first_available_variant.price | money }}
        </div>

        <div class="c-product-card__rating-wrapper">
          {% render 'star-rating', rating: rating %}
          <span class="c-product-card__rating-text">{{ review_text }}</span>
        </div>
      </div>
    </div>

    <button
        class="c-product-card__button js-product-card__button"
        data-variant-id="{{ product.selected_or_first_available_variant.id }}"
        {% unless product.selected_or_first_available_variant.available %}
          disabled
        {% endunless %}
      >
        <span class="c-product-card__button-text js-product-card__button-text">
          {% if product.selected_or_first_available_variant.available %}
            Add to cart
          {% else %}
            Sold out
          {% endif %}
        </span>
      </button>
  </div>
</c-product-card>
